<a href="https://colab.research.google.com/github/Mohammedaslaan/DataScience-AIML-Practicals/blob/main/FinalP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('HousingData.csv')

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
df['CRIM']

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64

In [8]:
df['CRIM'] = df['CRIM'].fillna(np.mean(df['CRIM']))

In [9]:
df['CRIM']

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64

In [10]:
df['ZN'] = df['ZN'].fillna(np.mean(df['ZN']))

In [12]:
df['CHAS'] = df['CHAS'].fillna(np.mean(df['CHAS']))

In [13]:
df['AGE'] = df['CHAS'].fillna(np.mean(df['AGE']))

In [14]:

df['LSTAT'] = df['LSTAT'].fillna(np.mean(df['LSTAT']))

In [17]:
df['INDUS'] = df['CHAS'].fillna(np.mean(df['INDUS']))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [19]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [20]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.182930,0.022583,0.022583,0.410377,-0.215434,0.022583,-0.366523,0.608886,0.566528,0.273384,-0.370163,0.434044,-0.379695
ZN,-0.182930,1.000000,-0.033723,-0.033723,-0.502287,0.316550,-0.033723,0.638388,-0.306316,-0.308334,-0.403085,0.167431,-0.407549,0.365943
INDUS,0.022583,-0.033723,1.000000,1.000000,0.050521,-0.073423,1.000000,0.003636,0.087056,0.076429,-0.006964,-0.005720,0.025925,-0.056581
CHAS,0.022583,-0.033723,1.000000,1.000000,0.050521,-0.073423,1.000000,0.003636,0.087056,0.076429,-0.006964,-0.005720,0.025925,-0.056581
NOX,0.410377,-0.502287,0.050521,0.050521,1.000000,-0.302188,0.050521,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.572379,-0.427321
RM,-0.215434,0.316550,-0.073423,-0.073423,-0.302188,1.000000,-0.073423,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.602962,0.695360
AGE,0.022583,-0.033723,1.000000,1.000000,0.050521,-0.073423,1.000000,0.003636,0.087056,0.076429,-0.006964,-0.005720,0.025925,-0.056581
DIS,-0.366523,0.638388,0.003636,0.003636,-0.769230,0.205246,0.003636,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.483429,0.249929
RAD,0.608886,-0.306316,0.087056,0.087056,0.611441,-0.209847,0.087056,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.468440,-0.381626
TAX,0.566528,-0.308334,0.076429,0.076429,0.668023,-0.292048,0.076429,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.524545,-0.468536
PTRATIO,0.273384,-0.403085,-0.006964,-0.006964,0.188933,-0.355501,-0.006964,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.373343,-0.507787
B,-0.370163,0.167431,-0.005720,-0.005720,-0.380051,0.128069,-0.005720,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.368886,0.333461
LSTAT,0.434044,-0.407549,0.025925,0.025925,0.572379,-0.602962,0.025925,-0.483429,0.468440,0.524545,0.373343,-0.368886,1.000000,-0.721975
MEDV,-0.379695,0.365943,-0.056581,-0.056581,-0.427321,0.695360,-0.056581,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.721975,1.000000

In [ ]:
# nox, rm, tax, ptratio, lstat

In [21]:
x = df.drop('MEDV',axis = 1)

In [22]:
y = df['MEDV']

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [29]:
x_scaled = scaler.fit_transform(x)
pd.DataFrame(x_scaled)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.422328,0.296443,-0.233542,-0.233542,-0.144217,0.413672,-0.233542,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.104146
1,-0.419870,-0.489639,-0.233542,-0.233542,-0.740262,0.194274,-0.233542,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.510353
2,-0.419872,-0.489639,-0.233542,-0.233542,-0.740262,1.282714,-0.233542,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.239748
3,-0.419277,-0.489639,-0.233542,-0.233542,-0.835284,1.016303,-0.233542,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.395333
4,-0.414981,-0.489639,-0.233542,-0.233542,-0.835284,1.228577,-0.233542,1.077737,-0.752922,-1.106115,0.113032,0.441052,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.415733,-0.489639,-0.233542,-0.233542,0.158124,0.439316,-0.233542,-0.625796,-0.982843,-0.803212,1.176466,0.387217,0.000000
502,-0.417766,-0.489639,-0.233542,-0.233542,0.158124,-0.234548,-0.233542,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.518917
503,-0.415952,-0.489639,-0.233542,-0.233542,0.158124,0.984960,-0.233542,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-1.009938
504,-0.410232,-0.489639,-0.233542,-0.233542,0.158124,0.725672,-0.233542,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.890038
505,-0.417515,-0.489639,-0.233542,-0.233542,0.158124,-0.362767,-0.233542,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.690204

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
Regressor = LinearRegression()

In [33]:
Regressor.fit(x_scaled,y)

LinearRegression()

In [35]:
Regressor.score(x_scaled,y)

0.7248617793056218